body{
    background-color: white;
    overflow-x: hidden;
    width: 100%;
    margin:0;
    padding: 0;
}

html{
    width: 100%;
    margin:0;
    padding: 0;
}

a{ 
    color: black;
}

/*Menu*/

.pasek-menu{
  position:relative;
}

.container-nawigacja{
    float:right;
    text-align: right;
    position:relative;
    margin-left: auto;
    padding: 0;
}

.lista-menu{
    float:right;
    text-align: right;
    position:relative;
    padding: 10px;
}

.logo{
    float:left;
}

.motto{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding:50px;
    font-weight: 50px;
}

nav {
    position: -webkit-sticky;
    position: fixed;
    top: 0;
    height: 69px;
    width: 100%;
    background: transparent; 
    transition: background-color 500ms linear;
  }
  
  nav.scrolled {
    background: white;
  }

nav.przyklejenie {
    position: sticky;
    z-index: 1200;
}

/*slider*/

@media screen and (max-width:768px){
    .bg-transparent{
    background:#000 !important;
    }
    }
    .carousel-caption{
    padding-bottom:0;
    padding-top:0;
    bottom:0;
    top:50%;
    transform:translateY(-50%);
    }

    .carousel-item{
        max-height: 800px;
        object-fit: cover;
    }
    /*1 element*/

    .blok-1{
        padding:100px 200px;
        background-color: gray;
    }

    .blok-2-container{
        width: 400px;

    }
    .photo-1{
        width: 600px;
        height:auto;
        position:relative;
        z-index: 100;
        left:-10%;
        margin-top:100px;
    }
