body{
    background-color: gray;
}

a{ 
    color: black;
}
.pasek-menu{
    background-color: white;
}

.container-nawigacja{
    float:right;
    text-align: right;
    position:relative;
    margin-left: auto;
}
.lista-menu{
    float:right;
    text-align: right;
    position:relative;
}

.logo{
    float:left;
}